@page "/"
@using System.Text.Json
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager

<style>
    .login-panel {
        margin-top: 120px;
    }

        .login-panel > img {
            width: 50%;
        }
</style>

<center class="login-panel">
    <img src="./pro_icon.svg" class="rounded mx-auto d-block" alt="..." />
</center>


<center>
    <Form Loading="loading" Model="@model"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed" Style="width:80%;">
    <FormItem>
        <Input Placeholder="请输入账号" Size="@InputSize.Large" @bind-Value="@context.Username">
        <Prefix>
            <Icon Type="user" />
        </Prefix>
        </Input>
    </FormItem>
    <FormItem>
        <InputPassword Placeholder="请输入密码" Size="@InputSize.Large" @bind-Value="@context.Password">
        <Prefix>
            <Icon Type="lock" />
        </Prefix>
        </InputPassword>
    </FormItem>
    <FormItem>
        <Button Type="@ButtonType.Primary" HtmlType="submit" Style="width:100%;margin-top:20px;" OnClick="NavigateToIndex">
            登录
        </Button>
    </FormItem>
</Form>
</center>

@code {
    public class Model
    {
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
        public bool RememberMe { get; set; } = true;
    }

    private Model model = new Model();

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

    bool loading = false;

    void toggle(bool value) => loading = value;

    private void NavigateToIndex()
    {
        if (string.IsNullOrEmpty(model.Username) || string.IsNullOrEmpty(model.Password))
        {
            
            return;
        }

        NavigationManager.NavigateTo($"counter?username={model.Username}");
    }
}
